html{
    height: 100%;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/backgroundGif.gif);
    background-origin: inherit;
    background-size: cover;
    min-height: 100%;
    display:flex;
    flex-direction: column;
}

#contentback{
    background: rgba(0, 0, 0, 0.7);
}

.fa{
    font-size:24px;
}

.navbar-toggler{
    background-color: #39FF14;
}

.navbar{
    background-color: black;
    color:#39FF14;
}

    .nav-item{
        color: #39FF14;
}

    .nav-item:hover {
        background-color: #39FF14;
        color: black;
}

.row{
        color:#39FF14;
        margin-top: 20px;
}

.footer{
    margin-top: auto;
    text-align: center;
    width: 100%;
    background-color: #f2f2f2;
    bottom: 0;
    opacity: 80%;
}

.navbar-brand{
    font-weight: bold;
}

h1{
    margin-left: 15px;
    margin-top: 5px;
    color:#39FF14;
}

h3{
    margin-top: 10px;
}

img{
    border-radius: 10%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width: 100%;
}

.content{
    margin-left:15px;
}

section{
    margin-top: 10px;
    margin-bottom: 20px;
}


body{
    background-color: #dbf3ff;
}



@media screen and (max-width: 991px) {

}